<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Home</title>
	</head>
	<body>
		<h1>Home Page</h1>
		<main>
			<div><a href="/add-account">Add Account</a></div>
			<div>
				<% account.forEach(data => { %>
					<li><h1><a href="/<%= data.id %>"><%= data.last_name %>, <%= data.first_name %></a></h1></li>
				<% }) %>
			</div>
		</main>
	</body>
</html>